div{
    width: 400px;
    border: solid 2px #cacaca;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    background: #EEEEEE;
    box-shadow: black -5px -5px 50px; /*Diseñada para cajas o contenedores, color, derecha o izquierda, abajo o arriba,
    desvanecido o difuminado, area, ver si la sombra va hacia dentro (inset) o hacia fuera*/
}
h1{
    text-shadow: gray 2px 2px 2px; /*Diseñada para texto, color, izquierda o derecha, difuminacion o degradado*/
}