.parrafo1{
    color: white;
    background-color: black;
    font-size: 35px;
}
.seccion1{
    color: blue
}
.pruebaCascada{
    color: red
}
.titulopC{
    color: black;
}
p, li{
    background: #000000;
    color: white;
}
header p{
    background: green;
}
section > p{
    background: red;
}
h2 + li{
    background: orange;
}

h3 ~ li{
    background: gray;
}